Library/PackageCache/com.unity.burst@973857688024/.Runtime/libburst-llvm-19.dylib
Library/ArtifactDB
Library/PlayerDataCache/Win642/Data/sharedassets1.assets
Library/PlayerDataCache/Win642/Data/sharedassets3.assets
Library/PlayerDataCache/Win642/Data/sharedassets1.assets.resS
Library/PlayerDataCache/Win642/Data/sharedassets3.assets.resS
